
<div class="content_header">
	<?=get_string('add_school_header', 'launcher');?>
</div>

<form name="moodle" method="post" action="<?="view.php?id={$_GET['id']}&controller={$this->model_name}&action=create_school";?>"
	onsubmit="return show_average_loadtime()" enctype="multipart/form-data">
<table border-collapse="collapse">

	<tr>
		<td colspan='2'><b><?=get_string('settings_site', 'launcher');?></b></td>
	</tr>
	<?php
	$this->print_input_field('site_name', $school);
	$this->print_special_input_field('site_shortname', $school);
	?>
	

	<tr><td colspan='2'><hr /></td></tr>
	<tr>
		<td colspan='2'><b><?=get_string('settings_admin', 'launcher');?></b></td>
	</tr>
	<?php
	//$arr_fields = array('admin_email'); // Second set of variables
	$this->print_input_field('admin_email', $school);
	?>
	</tr>
	<tr><td colspan='2'><hr /></td></tr>
	<tr>
		<td colspan='2'><b><?=get_string('settings_server', 'launcher');?></b></td>
	</tr>
	<?php
	$arr_fields = array('server_name', 'domain');
	foreach($arr_fields as $field) {
		$this->print_input_field($field, $school);
    }
	?>
	
	<tr><td colspan='2'><hr /></td></tr>
	<tr>
		<td colspan='2'><b><?=get_string('settings_layout', 'launcher');?></b></td>
	</tr>
	<?php
	$this->print_input_field('logo', $school);
    // TODO: fill customcss with whatever we find in Mother Moodle
	$this->print_textarea('customcss', $school, 'class="color"');
	?>
	

	<tr><td colspan='2'><hr /></td></tr>
	<tr>
		<td colspan='2'><b><?=get_string('settings_content', 'launcher');?></b></td>
	</tr>
	<tr>
		<td><?= get_string('categories', 'launcher')?></td>
		<td>
			<?php
			$categories_preset = isset($school->categories) ? $school->categories : NULL;
			$this->print_categories_checkboxes($categories_preset);
			?>
		</td>
	</tr>

	<?php
	$arr_uploadfields = array('upload_users', 'upload_groups');
	foreach($arr_uploadfields as $field) {
		$this->print_upload_field($field, $school);
	}
	?>
	<tr><td colspan='2'><hr /></td></tr>
	<tr>
		<td><input type="submit" id="submit" name="submit" value="<?= get_string('submit')?>"/></td>
	</tr>
</table>
</form>
