
<div class="content_header">
    <?=get_string('edit_school', 'launcher');?>
</div>

<form name="moodle" method="post" action="<?="view.php?id={$_GET['id']}&controller=schoolyear&action=create_schoolyear";?>"
    onsubmit="return show_average_loadtime()" enctype="multipart/form-data">
    <input type='hidden' value='<?= $school->id ?>' name='school[id]' />
    <input type='hidden' value='<?= $school->id ?>' name='school[environment]' />
    <input type='hidden' value='<?= $school->domain ?>' name='school[domain]' />
    <table border-collapse="collapse">

        <tr>
            <td colspan='2'><b><?=get_string('settings_site', 'launcher');?></b></td>
        </tr>
        <?php
        $this->print_input_field('site_name', $school);
        ?>
        <?php  
        $this->print_input_field('admin_email', $school);
        ?>
        <tr><td colspan='2'><hr /></td></tr>

        <tr>
            <td colspan='2'><b><?=get_string('settings_layout', 'launcher');?></b></td>
        </tr>
        <?php
        $this->print_input_field('logo', $school);
        // Fill with whatever is in the client Moodle (lookup last entry in buffer DB)
        $this->print_textarea('customcss', $school, 'class="color"');
        ?>

        
        <tr>
            <td colspan='2'><b><?=get_string('settings_content', 'launcher');?></b></td>
        </tr>
        <tr>
            <td><?= get_string('categories', 'launcher')?></td>
            <td>
                <?php
                $categories_preset = isset($school->categories) ? $school->categories : NULL;
                $this->print_categories_checkboxes($categories_preset);
                ?>
            </td>
        </tr>


        <tr>
            <td colspan='2'><b><?=get_string('header_archiving', 'launcher');?></b></td>
        </tr>
        <tr>
            <td><input id='archive' name='school[archive_option]' value='1' type='checkbox'/></td>
            <td>
                <label for='archive'><?= get_string('archive_option_label', 'launcher') ?>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type='text' name='school[archive]'/></td>
        </tr>

        <tr>
            <td colspan='2'><b><?=get_string('header_csv_files', 'launcher');?></b></td>
        </tr>
        <?php
        $arr_uploadfields = array('upload_users', 'upload_groups');
        foreach($arr_uploadfields as $field) {
            $this->print_upload_field($field, $school);
        }
        ?>
        <tr><td colspan='2'><hr /></td></tr>
        <tr>
            <td><input type="submit" name="create_schoolyear" value="<?= get_string('submit')?>"/></td>
        </tr>
    </table>
</form>
