<div class="content_header">
    <?=get_string('add_schoolyear_header', 'launcher');?>
</div>

<form name="moodle" method="post" action="<?="view.php?id={$_GET['id']}&controller={$this->model_name}&action=create_schoolyear";?>"
    onsubmit="return show_average_loadtime()" enctype="multipart/form-data">
<table border-collapse="collapse">
    <tr>
        <td><?=get_string('environment', 'launcher')?></td>
        <td><?php $this->print_moodles_dropdown($school);?></td>
    </tr>
</table>
</form>
