#wrapper,#footerwrapper{padding:0
17px 0 17px;float:none}#frametop,#footerframetop{background-image:url(image.php?theme=formal_white&image=roundcorner%2Fheader&rev=291&component=theme);margin:15px
15px 0;background-position:0 0;background-repeat:repeat-x;min-width:934px}#frametopright,#footerframetopright{background-image:url(image.php?theme=formal_white&image=roundcorner%2Fheader_r&rev=291&component=theme);background-repeat:no-repeat;background-position:100% 0;text-align:left;height:17px;margin:0
0 0 17px}#frametopright div,
#footerframetopright
div{background-image:url(image.php?theme=formal_white&image=roundcorner%2Fheader_l&rev=291&component=theme);font-size:1px;line-height:1%;height:17px;background-repeat:no-repeat;background-position:0 0;background-color:transparent;position:relative;width:17px;margin-left:-17px}#frameleft,#footerframeleft{background-image:url(image.php?theme=formal_white&image=roundcorner%2Fbody_l&rev=291&component=theme);background-repeat:repeat-y;background-position:0 0;background-color:#FFF}#frameright,#footerframeright{background-image:url(image.php?theme=formal_white&image=roundcorner%2Fbody_r&rev=291&component=theme);background-repeat:repeat-y;background-position:100% 0;background-color:transparent}#framebottomright,#footerframebottomright{background-image:url(image.php?theme=formal_white&image=roundcorner%2Ffooter_r&rev=291&component=theme);background-repeat:no-repeat;background-position:100% 0;text-align:left;margin:0
0 0 17px}#framebottomright div,
#footerframebottomright
div{background-image:url(image.php?theme=formal_white&image=roundcorner%2Ffooter_l&rev=291&component=theme);font-size:1px;line-height:1%;height:17px;background-repeat:no-repeat;background-position:0 0;background-color:transparent;position:relative;width:17px;margin-left:-17px}#framebottom,#footerframebottom{background-image:url(image.php?theme=formal_white&image=roundcorner%2Ffooter&rev=291&component=theme);background-repeat:repeat-x;background-position:0 100%;background-attachment:scroll;background-color:transparent}#footerwrapper{background-color:white;margin:0
17px 0 17px}#footerframetop{margin-top:0}#footerwrapper p,
#footerwrapper
div{margin:0}div.yui3-menu-content{border:none !important}#custommenu .yui3-menu{background-image:url(image.php?theme=formal_white&image=custommenubg&rev=291&component=theme);background-repeat:repeat-x;background-color:#e1e1df}.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-content{background-position: -10000px -10000px}.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label{background-position: -10000px -10000px}.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-active .yui3-menuitem-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label-menuvisible{background-position: -10000px -10000px}.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-label{background-position:right center}.yui3-skin-sam #page .yui3-menubuttonnav .yui3-menu-label
em{background-position:right center}.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label .yui3-menu-toggle{background-position:3px center}.yui3-skin-sam #page .yui3-splitbuttonnav .yui3-menu-label-menuvisible .yui3-menu-toggle{background-position:0% 50%}.yui3-skin-sam #page .yui3-menu-label,
.yui3-skin-sam #page .yui3-menuitem-content{color:#35251B;font-weight:400}.custom_menu_submenu .yui3-menu-label,
.custom_menu_submenu .yui3-menuitem-content{color:#35251B !important}.yui3-skin-sam #page .yui3-menu-label.yui3-menu-label-active,
.yui3-skin-sam #page .yui3-menuitem-active .yui3-menuitem-content{color:#DA5013}.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu .yui3-menu .yui3-menu-content,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam #page .yui3-menu-horizontal .yui3-menuitem-content{border:none}.yui3-skin-sam .yui3-menu-horizontal .yui3-menu-label,
.yui3-skin-sam .yui3-menu-horizontal .yui3-menuitem-content{border-color:#808080;border-style:solid;border-width:0px 0}#page
.custom_menu_submenu{border:2px
solid #DA5013 !important;background:#fff;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;-webkit-box-shadow:0px 1px 3px #ccc;-moz-box-shadow:0px 1px 3px #ccc;box-shadow:0px 1px 3px #ccc}.yui3-skin-sam .yui3-menu-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content{border:1px
solid #808080;font-size:100%;line-height:1.5;padding:3px
0}.yui3-menu ul li ul li,
.yui3-skin-sam .yui3-menu-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-content{background-color:#E9E9E9}.yui3-skin-sam .yui3-menu .yui3-menu{border-top:none;padding-left:-1px;border-right:1px #CCC solid;border-bottom:1px #CCC solid;border-left:1px #CCC solid}.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-menuvisible,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menuitem-active .yui3-menuitem-content,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-active,
.yui3-skin-sam .yui3-menu .yui3-menu .yui3-menu-label-menuvisible{background-color:#FFF}.yui3-skin-sam .yui3-menu-content ul.first-of-type
li{border-right:1px solid #ccc}.yui3-skin-sam .yui3-menu-content ul.first-of-type li.yui3-menuitem{border-right:none}.course-content .section
li.activity{margin:7px
0}.course-content
.header{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;border-top:1px #C6BDA8 solid;background-color:#E3DFD4}.course-content
h2.header{padding-left:1em}.course-content ul.weeks
li.section{border:1px
solid #DDD}.course-content ul.weeks li.section
.content{background-color:#FAFAFA;padding:5px
10px}.course-content ul.weeks li.section .content
h3{margin:0;color:#777;font-weight:normal}.course-content ul.weeks li.section
.left{padding:5px
0}.course-content ul.weeks li.section
.right{padding:5px
0}.coursebox{border:1px
solid #DDD;border-color:#DDD}.coursebox
.info{margin:5px;font-size:100%}.coursebox .info
.name{margin:3px
0}.coursebox .info
.teachers{margin:0
1em;font-size:90%}.coursebox
.cost{font-size:90%;padding-top:20px}.coursebox
.summary{margin:5px;font-size:90%}#page-course-recent
h2.main{font-size:110%}#page-course-recent
.user{font-size:75%}#page-course-recent
.grade{font-style:italic;font-size:90%}#page-course-recent .forum-recent .reply
.title{font-style:italic;font-size:90%}#page-course-recent .forum-recent .discussion
.title{font-weight:bold;font-style:italic;font-size:90%}.path-course-view
.availabilityinfo{font-size:85%;color:#aaa}.path-course-view .availabilityinfo
strong{font-weight:normal;color:black}.path-course-view .dimmed_text
img{opacity:0.3;filter:alpha(opacity='30')}.path-course-view
.section{line-height:1.2em}.path-course-view .section
.activity{padding:0.2em 0}.path-course-view .section .activity
a{line-height:1em}.path-course-view .section
.weekdates{margin:0;font-weight:normal;font-size:100%}.path-course-view .section
.groupinglabel{color:#666}.path-course-view .section
.left{font-weight:bold}.path-course-view .weeks .section,
.path-course-view .topics .section,
.path-course-view .section
td{border-color:#DDD}.path-course-view .weeks .content ,
.path-course-view .topics .content,
.path-course-view .weeks .section,
.path-course-view .topics
.section{background:transparent}.path-course-view .section
td.side{background:#FFF}.path-course-view .weeks .current,
.path-course-view .topics .current,
.path-course-view .current
td.side{background:#FFD991}.path-course-view .weeks .hidden,
.path-course-view .topics .hidden,
.path-course-view .hidden
td.side{background:#DDD}.path-course-view .section
.weekdates{color:#777}.path-course-view .weeks .weekdates ,
.path-course-view .topics
.weekdates{color:#333}.weeks li.section ,
.topics
li.section{border-style:solid;border-width:1px}.weeks .content,
.topics
.content{padding:5px}.categoryboxcontent{border-color:#DDD}#page-report-outline-user
.section{border-color:#AAA}#page-admin-report .plugin,
#page-report .plugin,
#page-course-import
.plugin{margin-bottom:20px;margin-left:10%;margin-right:10%;border:1px
solid #cecece;background-color:#F6F6F6}.path-course-view
.unread{background:#E3DFD4}.path-course-view
.completionprogress{font-size:80%;padding:8px
26px 5px 5px}#page-course-category .courseboxes,
#page-course-index
.courseboxes{padding:20px}#page-report
#content{padding-top:15px;padding-bottom:15px}#page-report #region-main p,
#page-report-log-index #region-main .info,
#page-report-loglive-index #region-main .info,
#page-report-stats-index #region-main
.graph{text-align:center}#page-report .logselectform,
#page-report .participationselectform,
#page-report-log-index .logselectform,
#page-report-participation-index
.participationselectform{text-align:center}.addcoursebutton{text-align:center}.categorypicker{text-align:center;margin-bottom:10px}.path-report-outline
.loginfo{text-align:center;margin:1em}.categorylist{width:90%;margin:0
auto;text-align:left}.course_category_tree
.controls{margin-bottom:5px;text-align:right;float:right}.course_category_tree .controls
div{padding-right:2em;font-size:75%}.course_category_tree
.category{background-color:#FFF;background-image:url(image.php?theme=formal_white&image=hgradient&rev=291&component=theme);background-repeat:repeat-x;border:1px
solid #ddd;margin-bottom:10px}.course_category_tree .category
.subcategories{background-color:inherit;padding-left:11px;border-width:1px 0 1px 1px;border-color:#FFF;border-style:solid;margin-top:8px}.course_category_tree .category.with_children
.category_label{background-position:3px 3px;margin-left:6px}.course_category_tree .category_link
.category_link{font-size:95%}.course_category_tree
.category_label{padding-left:13px}.course_category_tree
.category_link{display:block;margin:5px;font-size:120%;font-weight:bold}.course_category_tree .category
.courses{background-color:inherit}.course_category_tree .category .courses
.course_link{margin:5px;margin-right:100px}.course_category_tree .category
.course{border:1px
solid #f9f9f9;border-bottom-color:#eee;border-right-width:0}.course_category_tree .category .course:last-child{border-bottom-color:#f6f6f6}.course_category_tree .category
.course.even{background-color:#f6f6f6;border-color:#eee;border-top-color:#f9f9f9}.course_category_tree .category
.course_info{right:3px;top:3px}.course_category_tree .category .course:hover{background-color:#eee}.course_category_tree .category
.category{margin:5px
0 5px 5px;border-right:0 transparent none;border-left:0 transparent none;border-bottom:1px transparent solid}#page-course-publish-metadata
.metadatatext{width:400px}#page-course-publish-metadata
.hubscreenshot{display:inline;float:left;margin-right:10px}#page-course-publish-metadata .hubscreenshot
img{vertical-align:bottom}#page-course-publish-metadata
.hubdescription{}#page-course-publish-metadata
.hubinfo{display:block;margin-bottom:20px}#page-course-publish-metadata
.hublink{}#page-course-publish-backup
.courseuploadtextinfo{text-align:center}#page-course-publish-backup
.sharecoursecontinue{text-align:center}#page-header{background-color:#E3DFD4;-moz-border-radius:6px 6px 0px 0px;-webkit-border-radius:6px 6px 0px 0px;border-radius:6px 6px 0px 0px}#page-content{background-color:#E3DFD4;float:none}#page-content #region-main-box{left:200px;background-color:#FFF}#page-content #region-post-box{margin-left:-400px;background-color:#E3DFD4}#page-content #region-main{margin-left:400px;background-color:white}#page-content #region-pre{left:200px;width:200px;background-color:#E3DFD4}#page-content #region-post{width:200px;background-color:#E3DFD4}#page-content .region-content{padding:0.6em 8px 0.1em 8px}.pagelayout-report #page-content .region-content{overflow:auto}.side-pre-only #page-content #region-post-box{margin-left:-200px}.side-pre-only #page-content #region-main{margin-left:200px}.side-post-only #page-content #region-post-box{margin-left:-200px}.side-post-only #page-content #region-main{margin-left:200px}.has_dock.side-post-only .page-middle #region-main{margin-left:200px}.pagelayout-report #report-main-content .region-content{margin-left:200px}.pagelayout-report #report-region-pre{width:200px}.dir-rtl.pagelayout-report #report-main-content .region-content{margin-left:0;margin-right:200px}.ie6.pagelayout-report #report-region-wrap{float:none;width:200px;left:auto;position:absolute;top:0}.sitetopic{border:none}.headingblock{border-bottom:1px solid #ddd;font-size:130%;color:#333}#notice{text-align:center;padding:1em}.noticebox,.expired,.notopenyet,.notifysuccess,.notifyproblem,.errorbox,.continuebutton,.singlebutton,.buttons,.singleselect{text-align:center;margin:1em
0}label{margin-right:0.3em}.navbutton
.singlebutton{margin:0}.generalbox{border-color:#ddd}.noticebox
.generalbox{border:none;margin:2em
0}.expired,.notopenyet{border:none;color:#f00}.buttons .singlebutton
input{margin:0
1em}.initialbar{text-align:center}.side-pre-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main{padding-right:0}.side-post-only #page-content #region-main-box #region-post-box #region-main-wrap #region-main{padding-left:0}input[type="text"],input[type="password"],textarea{width:auto;padding:2px
0 2px 0;margin:0.3em}.navbutton input[type="text"]{width:auto;padding:0;margin:0
0.3em 0 0}input[type="checkbox"],input[type="radio"]{margin-right:7px}.loginbox{margin:15px
25%}.loginbox
.loginerrors{color:#f00}.loginbox
.loginform{margin:15px
auto 0;width:50%}.loginbox .loginform .form-label{float:left;width:40%;margin:0
auto;text-align:right}.dir-rtl .loginbox .loginform .form-label{float:none;width:100%;margin:0
auto;text-align:right}.loginbox .loginform .form-input{float:right;width:59%;margin:0
auto}.loginbox .loginform .form-input #username,
.loginbox .loginform .form-input
#password{width:100%;color:#000}.loginbox .loginform .form-input
#loginbtn{margin:0.5em auto}.loginbox
.forgetpass{margin:1em
0 0;font-size:95%}.loginbox.twocolumns{width:90%;margin-left:5%}.loginbox
.guestsub{border-top:1px solid #DDD;margin:5px
20%}.loginbox.twocolumns
.loginpanel{border-color:#ddd;padding-right:0.5%}.loginbox.twocolumns
.signuppanel{padding-left:1%;width:48%}#page-course-loginas
#notice{border:none}#page-login-forgot_password
.generalbox{margin:0
auto 1.5em;width:75%;padding:10px}#page-login-signup
.mform{width:85%;margin:0
auto}#page-login-signup .mform .fitem
.fitemtitle{width:20%}#page-login-signup .mform .fitem
.felement{margin-left:21%}.plugincompattable{font-size:100%;text-align:left}.userinfobox{border-color:#ddd;padding:0}.userinfobox
.content{text-align:left;padding-left:10px}.userinfobox
.links{vertical-align:top;background:#f4f4f4;padding-left:10px}.userinfobox .links
a{display:block;text-align:left}.profilepicture{float:left;margin-right:10px}.descriptionbox{margin-left:110px;border:1px
solid #ddd;padding:10px}.path-user
.description{padding-bottom:15px;border-bottom:1px solid #eee}.userprofile
.list{margin-top:10px}.userprofile .list
td{padding-top:3px;padding-bottom:3px}.userprofile .list
.c0{padding-left:0;font-weight:bold}#page-user-view
.buttons{text-align:center;width:70%;margin:0
auto}#page-user-view .buttons
div{padding:0
0 10px}#page-user-index
.controls{width:100%}#page-user-index .controls
.singleselect{margin:0}.rolesform{text-align:center;margin:1em
0}#participantsform{text-align:center}#participants{width:100%;margin:1em
auto 0}#participants th,
#participants
td{vertical-align:middle}.groupinfobox{border-color:#DDD;width:60%;margin-left:20%;margin-right:20%}.path-notes
.generalbox{border:none}.path-admin-roles
.generaltable{}.path-admin-roles .generaltable
th{vertical-align:middle}.path-admin-roles .generaltable
.lastcol{width:15%}.path-admin-roles
.backlink{text-align:center}.blog_entry
.audience{color:#444;margin:0
0 0.5em;font-size:90%}.blog_entry
.tags{margin-bottom:0.5em}#big-tag-cloud-box{padding:10px}#tag-management-box{text-align:center}.tag-management-form{border:none;padding:0
0 1em}#tag-management-list{margin:1em
0}#page-tag-index #tag-blogs{border-width:0 0 1px;width:65%;margin:1em
auto}#tagblogentries{margin:0
0 1em}#tagblogentries
li{list-style:none;padding:0.25em 0;margin:0}#big-tag-cloud-box{border:none}#tag-user-table{width:95%;margin:0
auto;border-width:0 0 1px}.managelink{text-align:right}#page-tag-index
.headingblock{text-align:center;margin-bottom:0}#page-tag-index #tag-management-box{border-bottom:1px solid #ddd;padding:4px
0}#page-tag-index
.relatedpages{text-align:center}#page-tag-manage
.lastinitial{margin-bottom:0.5em}#page-tag-manage
.green{text-align:center;padding:0
0 1em}#helppopupbox{z-index:99999 !important}.pagelayout-embedded{text-align:center;background-color:#fff;background-image:none}.pagelayout-embedded
#content{padding-top:30px}.mform
.fsubmit{text-align:center;padding:2px}.form-label .form-shortname{font-size:80%;color:#777}.form-description{font-size:95%;color:#444}.mform .fitem input[type="text"],
.mform .fitem input[type="password"]{margin:0.3em 0 0.3em 0}.mform
.fitem{line-height:2.0em;margin-top:0}.path-backup .mform .hidden .fitem
.fgroup{text-align:left}.path-backup .mform
.grouped_settings{margin:1em}.path-backup .mform .grouped_settings
.grouped_settings{margin:0}.comment-list
li{background:#eee !important;list-style:none}.path-grade
h1.headerheading{text-align:left}.gradestable .lastrow
th.header{background:#ddd}.gradestable .lastrow
td.cell{background:#eee !important}.user-grade td.b1t,
.user-grade
td.baggt{background:#ddd !important}#page-grade-edit-scale-index
.generaltable{margin:1em
auto}#page-grade-report-grader-preferences
.generalbox{border:none}.path-grade-report-grader
form{text-align:left}#page-footer
.logininfo{padding:1em
0}#page-footer .homelink,
#page-footer
.sitelink{padding:1em
0}.homelink
a{text-decoration:none;border-top:1px solid #cecece;border-bottom:2px solid #8a8a8a;border-left:1px solid #cecece;border-right:2px solid #8a8a8a}.homelink a:hover{text-decoration:none;border-bottom:1px solid #cecece;border-top:2px solid #8a8a8a;border-right:1px solid #cecece;border-left:2px solid #8a8a8a}.userenrolment{font-size:100%;border:1px
solid #E3DFD4}.userenrolment
tr.r0{background-color:#F9F9F9}.userenrolment
tr.r1{background-color:#F3F3F3}.userenrolment
td{border:1px
solid #E9E9E9;border-top-color:#F6F6F6;border-right-color:#EEE;border-left-color:#F3F3F3}.userenrolment
td.c0{border-left-color:#E3DFD4}.userenrolment
td.c4{border-right-color:#E3DFD4}.userenrolment
.col_userdetails{padding:3px;min-width:35%}.userenrolment .col_role
.roles{position:relative}.userenrolment .col_role
.role{line-height:10px;font-size:70%}.userenrolment .col_role .role a
img{height:8px}.userenrolment .col_role
.addrole{background-color:#DDD;border:1px
outset #EEE;-moz-border-radius:5px}.userenrolment
.col_group{max-width:300px}.userenrolment .col_group
.group{line-height:10px;font-size:70%}.userenrolment .col_group .group a
img{height:8px}.userenrolment .col_group
.addgroup{background-color:#DDD;border:1px
outset #EEE;-moz-border-radius:5px}.userenrolment
.col_enrol{max-width:300px}.userenrolment .col_enrol
.enrolment{border:1px
outset #E6E6E6;background-color:#EEE;line-height:10px;font-size:70%;-moz-border-radius:5px}.path-enrol .enrolusersbutton,
.path-enrol
.enrolcohortbutton{float:left}.path-enrol .enrolusersbutton.instance1,
.path-enrol
.enrolcohortbutton.instance1{float:right}#page-admin-registration-hubselector
.registration_textfield{width:400px}.pagelayout-redirect
#content{text-align:center;margin-top:10%;margin-bottom:10%}.plugincompattable{font-size:90%}.path-calendar .minicalendarblock
h3{font-size:1.0em;margin:0;text-align:center}.path-calendar .block
.minicalendar{margin:5px
0 10px 0}.path-calendar .calendartable th,
.path-calendar .calendartable
td{border:1px
#E3DFD4 solid}.path-calendar .minicalendar
td.today{border:2px
#444 solid}.path-calendar .maincalendar .eventlist
.event{border:1px
#E3DFD4 solid}.path-calendar .minicalendar .calendar_event_user,
.path-calendar .minicalendar
.duration_user{border-bottom:2px #A1BECB dotted}.path-calendar .minicalendar .calendar_event_course,
.path-calendar .minicalendar
.duration_course{border-bottom:2px #F96 dotted}.path-calendar .minicalendar .calendar_event_global,
.path-calendar .minicalendar
.duration_global{border-bottom:2px #66D14D dotted}.path-calendar .minicalendar .calendar_event_group,
.path-calendar .minicalendar
.duration_group{border-bottom:2px #FBBB23 dotted}.path-calendar .maincalendar .calendarmonth th,
.path-calendar .minicalendar
th{background:url(image.php?theme=formal_white&image=gradient-sb&rev=291&component=theme) repeat-x 0 0}.calendartable th,
.calendartable
td{border:1px
#E3DFD4 solid}.calendartable
.today{border:2px
#444 solid}.calendartable .calendar_event_user,
.calendartable
.duration_user{border-bottom:2px #A1BECB dotted}.calendartable .calendar_event_course,
.calendartable
.duration_course{border-bottom:2px #F96 dotted}.calendartable .calendar_event_global,
.calendartable
.duration_global{border-bottom:2px #66D14D dotted}.calendartable .calendar_event_group,
.calendartable
.duration_group{border-bottom:2px #FBBB23 dotted}.tabtree{position:relative;margin-bottom:3.5em}.tabtree
.tabrow0{text-align:center;width:100%;margin:1em
0px}.tabtree ul li.here
.empty{display:none}.tabtree .tabrow0
li{display:inline;margin-right:-4px}.tabtree .tabrow0
li.here{font-weight:bold}.tabtree .tabrow0 li.here
.empty{display:block;height:1px;overflow:hidden;padding:0px;position:absolute;width:100%;bottom: -4px}.tabtree .tabrow0 li a:link,
.tabtree .tabrow0 li a:visited,
.tabtree .tabrow0 li a:active{color:#000}.tabtree .tabrow0 li.here
a{position:relative;z-index:102}.tabtree .tabrow0 li
a{background-image:url(image.php?theme=formal_white&image=tab%2Fleft&rev=291&component=theme);padding-left:14px;padding-top:10px;background-repeat:no-repeat;padding-bottom:4px;margin-bottom:-1px;background-color:transparent;border:none}.tabtree .tabrow0 li a:hover{background-image:url(image.php?theme=formal_white&image=tab%2Fleft_hover&rev=291&component=theme)}.tabtree .tabrow0 li a
span{background-image:url(image.php?theme=formal_white&image=tab%2Fright&rev=291&component=theme);background-repeat:no-repeat;background-position:100% 0%;padding-right:14px;padding-top:10px;padding-bottom:4px}.tabtree .tabrow0 li a:hover
span{background-image:url(image.php?theme=formal_white&image=tab%2Fright_hover&rev=291&component=theme)}.tabtree .tabrow0 ul,
.tabtree .tabrow0
div{background-image:url(image.php?theme=formal_white&image=tab%2Ftabrow1&rev=291&component=theme);background-position:0% 50%;position:absolute;width:100%;border-top:1px solid #aaa;padding:0.25em 0px;top:100%;margin:0px}.tabtree .tabrow0
.empty{height:1px;overflow:hidden;padding:0px;position:absolute}.tabtree .tabrow1 li a,
.tabtree .tabrow1 li a:hover,
.tabtree .tabrow1 li a span,
.tabtree .tabrow1 li a:hover
span{background-image:none !important;padding:0
0.3em;text-decoration:none}.tabtree .tabrow1 li a:hover{font-weight:bold;text-decoration:underline}.tabtree .tabrow1
li{font-weight:normal}.tabtree .tabrow1
li.here{font-weight:bold}.groupmanagementtable{width:90%}.groupmanagementtable
td{vertical-align:top;border-width:0px}.groupmanagementtable td
p{margin:0px}.ie7 .tabtree .tabrow0
li{margin-left:0}.ie7 .tabtree .tabrow0
li.first{margin-right: -4px}.ie7 .tabtree .tabrow0
li.onerow{margin-right:0}.ie7 .tabtree .tabrow0
a{display:inline-block;padding:8px
0 0.35em 13px;line-height:1.5em}.ie7 .tabtree .tabrow0 a
span{padding:10px
1em 10px 0}.ie7 .tabtree .tabrow0
div{top:2.6em;padding:0.2em 0}.ie7 .tabtree .tabrow0
div.empty{margin-right:0}.ie7.mod-quiz div.tabtree a span
img.iconsmall{margin:0;vertical-align:baseline;position:relative;top:2px}.ie6
.tabtree{height:100%}.ie6 .tabtree
.tabrow0{padding-top:10px}.ie6 .tabtree .tabrow0
li{margin-left:0}.ie6 .tabtree .tabrow0
li.first{margin-left: -4px;margin-right: -4px}.ie6 .tabtree .tabrow0 li.last
a{margin-right:0}.ie6 .tabtree .tabrow0
li.onerow{margin-right:0}.ie6 .tabtree .tabrow0
a{padding:0
0 0 13px}.ie6 .tabtree .tabrow0 a
span{padding:12px
1em 4px 0}.ie6 .tabtree .tabrow0
div{top:3.5em;padding:0.2em 0}#page-mod-quiz-edit div.quizpage
.pagecontent{background-color:#E3DFD4}.questionbankwindow
h2{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;border-top:1px #C6BDA8 solid;background-color:#E3DFD4;border-top:1px #C6BDA8 solid}#page-mod-quiz-edit .questionbankwindow
div.header{background-color:transparent}#page-mod-quiz-edit .questionbankwindow div.header
.title{color:#000}#page-mod-quiz-edit .questionbankwindow div.header a:link,
#page-mod-quiz-edit .questionbankwindow div.header a:visited{color:#0000EF}#page-mod-quiz-edit div.container
div.generalbox{background-color:#E3DFD4;padding:1.5em}#page-mod-quiz-edit div.questionbank .categoryquestionscontainer,
#page-mod-quiz-edit div.questionbank .categorysortopotionscontainer,
#page-mod-quiz-edit div.questionbank .categorypagingbarcontainer,
#page-mod-quiz-edit div.questionbank
.categoryselectallcontainer{padding:0
0 1.5em 0}#page-mod-quiz-edit div.questionbank
.categorypagingbarcontainer{padding:1em;background-color:#E3DFD4;margin:0
-1.2em;border-top:1px #E3DFD4 solid;border-bottom:1px #E3DFD4 solid}#page-mod-quiz-edit div.questionbank
.categoryquestionscontainer{margin:0
-1.2em -1em -1.2em}#page-mod-quiz-edit div.editq div.question
div.content{background-color:#F6F6F6}#page-mod-quiz-edit div.question div.content
div.questioncontrols{background-color:#F6F6F6}#page-mod-quiz-edit div.question div.content
div.points{margin-top:-0.5em;padding-bottom:0.5em;background-color:#EEE}#page-mod-quiz-edit div.question div.content
div.points{border-color:#F6F6F6}#page-mod-quiz-edit div.quizpage .pagecontent
.pagestatus{background-color:#F6F6F6}#page-mod-quiz-edit .quizpagedelete,
#page-mod-quiz-edit .quizpagedelete
img{background-color:transparent}#page-mod-quiz-edit #page-footer{padding:0}.forumpost{border:1px
solid #CACACA}.forumpost
.row{background-color:#FFF}.forumpost
.row.header{background-color:#E3DFD4;background-image:none}.forumpost.firstpost
.row.header{background-color:#E3DFD4}.forumpost .topic
.author{font-size:0.8em;padding:4px}.forumpost .topic
.subject{font-weight:bold;padding:4px
4px 0}.forumpost .options
div{border-top:1px dotted #DBDBDB}.forumpost .content div,
.forumpost .options
div{padding:4px}.forumpost.unread
.content{background-color: #E3DFD4}.forumpost .row
.topic{background-color:#E3DFD4}#page-mod-forum-view .forummode,
.path-mod-forum .forumheaderlist
.replies{text-align:center}.path-mod-forum .forumheaderlist .discussion
.lastpost{font-size:0.7em}.path-mod-forum
.forumnodiscuss{font-weight:bold;text-align:center}#page-mod-forum-subscribers .subscriberdiv,
#page-mod-forum-subscribers
.subscribertable{background-color:#EEE;border:1px
solid #BBB}#page-mod-forum-subscribers .subscriberdiv,
#page-mod-forum-subscribers .subscribertable tr
td{padding:0.2em 0.3em}#page-mod-forum-discuss
.ratingsubmit{text-align:center;padding:10px}#page-mod-forum-view .forumheaderlist .discussion .starter, #page-mod-forum-view
.forumaddnew{margin-bottom:20px}#page-mod-forum-view .forumheaderlist
td{border-color:#FFF}#page-mod-forum-view
.unread{padding:0
3px}#page-mod-forum-view
.forumheaderlist{border-color:#DDD}#email
.unsubscribelink{border-width:0px 1px 0px 0px;border-style:solid;text-align:center}#page-mod-forum-view
.highlight2{color:#A00}#page-mod-forum-view.dir-rtl .forumheaderlist .discussion
.starter{text-align:right}#page-mod-forum-view
.unread{background:#E3DFD4}html,body{font-family:Arial,Verdana,Helvetica,sans-serif;margin:0;padding:0;background-color:#EFEFEF;font-size:13px}a:link{text-decoration:none;color:black}a:visited{text-decoration:none;color:black}a:hover{text-decoration:underline;color:black}h1{font-size:140%;font-weight:bold}h2{font-size:130%}h3{font-size:120%}h4{font-weight:bold}h2.main,h3.main,h4.main{margin:0;padding:0;text-align:center}#headerlogo{margin:0.3em;float:left;top:1em}h1.headerheading{margin:14px
11px 8px 11px;float:left;font-size:200%}#page-header{line-height:0;overflow:hidden}.headermenu{position:relative;line-height:1.7em;font-size:90%;margin:0.3em 0.3em 0.3em 0;right:0.3em}#dock{background-color:#F6F6F6;border-right:1px #000 dashed}#dock
.dockeditem_container{margin-top:10px}#dock #dockeditempanel
.dockeditempanel_hd{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;text-align:left;height:1.8em;background-color:#E3DFD4}#dock #dockeditempanel .dockeditempanel_hd
h2{display:block;padding-left:0.3em;margin-top:0;text-align:left}#dock #dockeditempanel .dockeditempanel_hd
.commands{position:absolute;right:0.3em;top:0.25em}.navbar{width:auto;padding-top:0.35em;padding-bottom:0.15em;background-image:url(image.php?theme=formal_white&image=bg_bread&rev=291&component=theme);background-color:#AB9D80}.navbar li
span{color:#E3DFD4}.navbar li a:link, .navbar li a:visited{color:white}.navbutton{padding-right:0.5em}.navbutton table
td{padding:0}.block_settings .block_tree .tree_item a:link,
.block_settings .block_tree .tree_item a:visited,
.block_settings .block_tree .tree_item a:active,
.block_navigation .block_tree .tree_item a:link,
.block_navigation .block_tree .tree_item a:visited,
.block_navigation .block_tree .tree_item a:active{color:#000}.breadcrumb{margin-left:0.8em}.generalbox{border-color:#E3DFD4;padding:1em}#page-admin-setting-manageauths
.generalbox{border:none}#page-enrol-instances
.generalbox{border:none}#page-enrol-instances
.select.menujump{margin-left:0.5em}.environmenttable
.error{background-color:red}.environmenttable
.warn{background-color:yellow}.environmenttable
.ok{background-color:lime}#adminsettings .form-overridden{background-color:yellow}.editcourse th,
.editcourse td,
.generaltable th,
.generaltable td,
#page-admin-course-category .generalbox th,
#page-admin-course-category .generalbox td,
#attempts th,
#attempts td,
.plugincompattable th,
.plugincompattable td,
.environmenttable th,
.environmenttable td,
.forumheaderlist td,
.forumheaderlist
th{border:1px
solid #E3DFD4;border-collapse:collapse}th.header,
.formtable tbody th,
.generalbox th,
.generaltable
th.header{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;border-top:1px #C6BDA8 solid;background-color:#E3DFD4}table.flexible .r0, table.generaltable
.r0{background-color:#F0F0F0;margin-bottom:-3px}table.flexible .r1, table.generaltable
.r1{background-color:#FAFAFA;margin-bottom:-3px}div#chooseuser{border:0
transparent none}table.groupmanagementtable,
table.groupmanagementtable tr,
table.groupmanagementtable
td{border-width:0px}table.groupmanagementtable
td#buttonscell{vertical-align:middle;text-align:center}table#defineroletable
tr.rolecapheading{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;background-color:#E3DFD4}tr.rolecap{border-top:1px #F30 dashed}tr.rolecapheading+tr.rolecap{border-top:none}#page-admin-course-index .editcourse td
div.singleselect{text-align:left}ul.topics .section
span.commands{position:absolute;right:1em}.mform
fieldset{border:1px
#DDD solid}.mform .fitem
.fitemtitle{width:25%}.mform .fitem .fitemtitle
label{padding-right:5px}.mform .fitem
.felement{margin-left:26%;width:73%}.mform .fitem .fitemtitle .helplink
img{margin-right:-5px}.mform
.fsubmit{text-align:left}table td.cell
p{margin:0}.block{border:1px
#C6BDA8 solid;margin-bottom:0.5em}.block .header
h2{margin:0;padding-left:0.3em}.block .header
.title{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;clear:both;line-height:2em;background-color:#E3DFD4}.block .header .title
.commands{padding-left:0.3em;text-align:right}.block
.content{background-color:#F6F6F6}.block_login
.btn{margin-top:0.5em;text-align:center}.pagelayout-report #page-header{float:left}.pagelayout-report #page-content{overflow:hidden}#notice
div.buttons{margin-bottom:0}#page-footer{text-align:center;width:100%;padding:0}.noframefooter{background-color:#FFF;clear:both;float:left;width:100%}#page-footer-content{text-align:center;border:7px
#E3DFD4 double;margin:0;padding:0.5em}#page-footer
.logininfo{padding:0.3em 0 0.7em 0}#page-footer
.moodledocs{text-align:center;background-color:#EFEFEF;padding:0.7em 0 0.8em 0}#helppopupbox
.helpheading{margin-top:1em}pre,code,tt{font:1em/1.3 monospace}#listdirectories,#listtables,#listfields{color:grey}#listdirectories tr.r0,
#listtables tr.r0,
#listfields
tr.r0{background:none repeat scroll 0 0 #F0F0F0}#listdirectories tr.r1,
#listtables tr.r1,
#listfields
tr.r1{background:none repeat scroll 0 0 #FAFAFA}#listdirectories .highlight,
#listtables .highlight
#listfields
.highlight{background:none repeat scroll 0 0 #E3DFD4}.capdefault{background-image:url(image.php?theme=formal_white&image=gradient_h&rev=291&component=theme);background-repeat:repeat-x;background-color:#E3DFD4}table#defineroletable
th{border-top:none}form.loginform
.rememberusername{padding-left:0.3em;width:auto}.block_rss_client .list li:first-child{border-top-width:0}.block_rss_client .list
li{border-top:1px solid #DDD;padding:5px}.block_calendar_upcoming .content>hr{display:none}.block_calendar_upcoming
.event{border-bottom:1px solid #DDD;padding:5px}