<link href="style.css" rel="stylesheet" type="text/css">
<script language="javascript" src="lib.js"></script>

<div class="container">
    <div class="launcher_header">
        <?=get_string('launcher_header', 'launcher');?>
    </div>
    <div class="container_left">
        <?php $this->print_menu();?>
    </div>
    <div class="container_right">

        <div class="content_header">
            <?=get_string('add_school_header', 'launcher');?>
        </div>

        <form name="moodle" method="post" action="<?="view.php?id={$_GET['id']}&controller={$this->model_name}&action=create_school";?>"
            onsubmit="return show_average_loadtime()" enctype="multipart/form-data">
        <table border-collapse="collapse">
            <tr>
                <td colspan='2'><b><?=get_string('settings_site', 'launcher');?></b></td>
            </tr>
            <?php
            $arr_fields = array('site_name','site_shortname'); // First set of variables
            foreach($arr_fields as $field) {
                $this->print_input_field($field, $moodle);
            }

            $this->print_textarea_field('site_description', $moodle);
            ?>
            

            <tr><td colspan='2'><hr /></td></tr>
            <tr>
                <td colspan='2'><b><?=get_string('settings_admin', 'launcher');?></b></td>
            </tr>
            <?php
            $arr_fields = array('admin_email'); // Second set of variables
            foreach($arr_fields as $field) {
                $this->print_input_field($field, $moodle);
            }
            ?>
            </tr>
            <tr><td colspan='2'><hr /></td></tr>
            <tr>
                <td colspan='2'><b><?=get_string('settings_server', 'launcher');?></b></td>
            </tr>
            <?php
            $arr_fields = array('server_name', 'domain');
            foreach($arr_fields as $field) {
                $this->print_input_field($field, $moodle);
            }
            ?>

            <tr><td colspan='2'><hr /></td></tr>
            <tr>
                <td colspan='2'><b><?=get_string('settings_content', 'launcher');?></b></td>
            </tr>
            <tr>
                <td><?= get_string('categories', 'launcher')?></td>
                <td>
                    <?php
                    $categories_preset = isset($moodle->categories) ? $moodle->categories : NULL;
                    $this->print_categories_checkboxes($categories_preset);
                    ?>
                </td>
            </tr>

            <?php
            $arr_uploadfields = array('upload_users', 'upload_groups');
            foreach($arr_uploadfields as $field) {
                $this->print_upload_field($field, $moodle);
            }
            ?>
            <tr><td colspan='2'><hr /></td></tr>
            <tr>
                <td><input type="submit" id="submit" name="submit" value="<?= get_string('submit')?>"/></td>
            </tr>
        </table>
        </form>

        <div id="show_load" style="visibility: hidden">
            <br />
        <?php
            if ($average_time = $this->get_average_loadtime()) {
                if ($average_time != 0) {
                    echo 'Averagely this process will take about ';
                    echo sprintf( "%02.2d:%02.2d", floor( $average_time / 60 ), $average_time % 60 );
                    echo ' minutes.';
                }
            }
            ?>
        </div>
    </div> <!-- End container right -->
</div> <!-- End container -->
<div style="clear: both;"></div>
